/* If the browser window is smaller than 600px, make the columns stack on top of each other */
@media only screen and (max-width: 600px) {
    .col {
        display: block;
        width: 100%;
    }
}

.homePage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* lineup class and keyframes */
.lineupAnimation {
    animation: 2s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.webFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(82, 82, 82);
}